<div style="text-align:center;">
  <mat-form-field>
    <input type="text" placeholder="Enter City" matInput [formControl]="myControl"
         [matAutocomplete]="auto" (keyup)="getCitiesAutoComplete($event)">
       <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getCurrentCity($event.option.value)'>
         <mat-option *ngFor="let city of cities" [value]="city.cityName">
           {{city.cityName}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- <button mat-button (click)="getCityData()">City Weather</button> -->
</div>

<div *ngIf="selectedCity">
<mat-card class="main-card">
	<mat-card-header>
    <!-- <mat-icon>more_vert</mat-icon> -->
		<mat-card-title>{{selectedCity.cityName}}</mat-card-title>
		<mat-card-subtitle>{{selectedCity.CurrentWeather}}</mat-card-subtitle>
	</mat-card-header>
</mat-card>
</div>
<!-- <div style="margin-left:10%">
  <weather-data [currentDay]="currentDay"></weather-data>
</div> -->
