<div style="text-align:center;">
  <mat-form-field>
    <input type="text" placeholder="Enter City" matInput [formControl]="myControl"
         [matAutocomplete]="auto" (keyup)="getCitiesAutoComplete($event)">
       <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getCurrentCity($event.option.value)'>
         <mat-option *ngFor="let city of cities" [value]="city.cityName">
           {{city.cityName}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div *ngIf="selectedCity">
  <mat-card class="main-card">
	  <mat-card-header>
		  <mat-card-title>Weather</mat-card-title>
		  <mat-card-subtitle>welcome</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-container">
        <div>
          <h3>{{selectedCity.cityName}}</h3>
          <h3>{{selectedCity.CurrentWeather}}</h3>
        </div>
        <div margin>
            <div class="heart icon"></div>
        </div>
      </div>
      <div style="text-align: center">
        <h1>Scattered clouds</h1>
      </div>
      <div fxLayout="row wrap">
        <div *ngFor="let currentDay of days" class="card-margin">
          <weather-data [currentDay]="currentDay"></weather-data>
        </div> 
      </div>
    </mat-card-content>
  </mat-card>
</div>  