input-center {
    text-align:center;
}

p {
    font-family: Lato;
  }
  
  .main-card {
    max-width: 10%;
    margin-left:5%;
    margin-bottom: 2%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }